@*<section class="col-md-9 col-sm-12 col-xs-12 col-md-offset-3 rzm_client" id="client">
    <h1 class="title">Clients</h1>
    <p>Had the privilege to work with companies such as Adobe, Udemy, Puma, Google, GravityPayments & more.</p>
    <small>Also featured in Behance, SitePoint, Envato, DesignMag, Dribbble etc.</small>
    <div class="rzm_client_img">
        <img src="img/reebook.png" alt="" class="no_padding_left">
        <img src="img/Cocacola.png" alt="">
        <img src="img/adidas.png" alt="">
        <img src="img/sony.png" alt="" class="no_padding_right">
    </div>
</section>*@