<section class="col-md-9 col-sm-12 col-xs-12 col-md-offset-3 rzm_experience" id="experience">
    <h1 class="title">تاریخچه ما</h1>
    <div id="rzm_timeline">

        <div class="row rzm_timeline-movement">

            <div class="rzm_timeline-badge active_box">
            </div>


            <div class="col-sm-6 col-xs-12 rzm_timeline-item">
                <div class="row">
                    <div class="col-sm-11 col-xs-12">
                        <div class="rzm_timeline-panel credits">
                            <ul class="rzm_timeline-panel-ul">
                                <li>Mar 2016 - Present </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12  rzm_timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11 col-xs-12">
                        <div class="rzm_timeline-panel debits">
                            <ul class="rzm_timeline-panel-ul active">
                                <li><span class="rzm_importo">کتاب های دانشگاهی</span> </li>
                                <li><span class="rzm_causale">رمان ها</span> </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

      

        <div class="row rzm_timeline-movement">

            <div class="rzm_timeline-badge ">
            </div>


            <div class="col-sm-6 col-xs-12 rzm_timeline-item">
                <div class="row">
                    <div class="col-sm-11 col-xs-12">
                        <div class="rzm_timeline-panel credits">
                            <ul class="rzm_timeline-panel-ul">
                                <li>Aug 2015 - Mar 2016 </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6  col-xs-12 rzm_timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11 col-xs-12">
                        <div class="rzm_timeline-panel debits">
                            <ul class="rzm_timeline-panel-ul">
                                <li><span class="importo">کتاب های علمی</span> </li>
                                <li><span class="rzm_causale">کتاب هاب کمک درسی و کنکوری</span> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
     
        <div class="row rzm_timeline-movement">

            <div class="rzm_timeline-badge">
            </div>


            <div class="col-sm-6 col-xs-12 rzm_timeline-item">
                <div class="row">
                    <div class="col-sm-11 col-xs-12">
                        <div class="rzm_timeline-panel credits">
                            <ul class="rzm_timeline-panel-ul">
                                <li>Jan 2013 - Aug 2015 </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6  col-xs-12 rzm_timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11 col-xs-12">
                        <div class="rzm_timeline-panel debits">
                            <ul class="rzm_timeline-panel-ul">
                                <li><span class="importo">کناب های اموزشی</span></li>
                                <li><span class="rzm_causale">کتاب های زبان</span></li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
       
        <div class="row rzm_timeline-movement">

            <div class="rzm_timeline-badge">
            </div>


            <div class="col-sm-6  rzm_timeline-item">
                <div class="row">
                    <div class="col-sm-11 col-xs-12">
                        <div class="rzm_timeline-panel credits">
                            <ul class="rzm_timeline-panel-ul">
                                <li>Sep 2013 - Jan 2013 </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6  rzm_timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11 col-xs-12">
                        <div class="rzm_timeline-panel debits">
                            <ul class="rzm_timeline-panel-ul">
                                <li><span class="importo">کتاب های هنری</span> </li>
                                <li><span class="rzm_causale">کتاب های کودک </span> </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
       
        <div class="row rzm_timeline-movement">

            <div class="rzm_timeline-badge">
            </div>


            <div class="col-sm-6  rzm_timeline-item">
                <div class="row">
                    <div class="col-sm-11 col-xs-12">
                        <div class="rzm_timeline-panel credits">
                            <ul class="rzm_timeline-panel-ul">
                                <li>Nov 2010 - Sep 2013 </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6  rzm_timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11 col-xs-12">
                        <div class="rzm_timeline-panel debits">
                            <ul class="rzm_timeline-panel-ul">
                                <li><span class="importo">کتاب های نوجوان</span> </li>
                                <li><span class="rzm_causale">کتاب هاب بزرگسالان</span> </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        
    </div>
    <div class="rzm_button">
        <a href="" class="btn btn-sm btn-default"><i class="fa fa-download" aria-hidden="true"></i>Resume</a>
    </div>
</section>