
<h1 class="title">کناب های ما</h1>
<section class="filter-section">
    <div class="row">
        <div class="col-sm-12 col-xs-12">

            <div class="filter-container isotopeFilters3">
                <ul class="list-inline filter">
                    <li class="active"><a href="#" data-filter="*">All </a></li>
                    <li><a href="#" data-filter=".illustrations">Logo</a></li>
                    <li><a href="#" data-filter=".photography">Branding</a></li>
                    <li><a href="#" data-filter=".websites">Web</a></li>
                    <li><a href="#" data-filter=".art">Photography</a></li>
                    <li><a href="#" data-filter=".art">Poster</a></li>
                </ul>
            </div>

        </div>
    </div>

</section>
<section class="portfolio-section port-col">
        <div class="row">
            <div class="isotopeContainer3">

                <div class="col-sm-6 isotopeSelector art">
                    <article class="">
                        <figure>
                            <img src="image_gallery/images/35.jpg" alt="">
                            <div class="overlay-background">
                                <div class="inner"></div>
                            </div>
                            <div class="overlay">
                                <div class="inner-overlay">
                                    <div class="inner-overlay-content with-icons">
                                        <a title="First Image" class="fancybox-pop" rel="portfolio-22" href="image_gallery/images/30.jpg"><i class="fa fa-plus-circle"></i></a>
                                        <a title="Second Image" class="fancybox-pop" style="display: none" href="image_gallery/images/31.jpg" rel="portfolio-22"></a>
                                        <a title="Third Image" class="fancybox-pop" style="display: none" href="image_gallery/images/32.jpg" rel="portfolio-22"></a>

                                    </div>
                              
                                </div>
                            </div>
                        </figure>

                    </article>
                </div>

                <div class="col-sm-6 isotopeSelector illustrations">
                    <article class="">
                        <figure>
                            <img src="image_gallery/images/31.jpg" alt="">
                            <div class="overlay-background">
                                <div class="inner"></div>
                            </div>
                            <div class="overlay">
                                <div class="inner-overlay">
                                    <div class="inner-overlay-content with-icons">
                                        <a title="First Image" class="fancybox-pop" rel="portfolio-23" href="image_gallery/images/33.jpg"><i class="fa fa-plus-circle"></i></a>
                                        <a title="Second Image" class="fancybox-pop" style="display: none" href="image_gallery/images/34.jpg" rel="portfolio-23"></a>
                                        <a title="Third Image" class="fancybox-pop" style="display: none" href="image_gallery/images/35.jpg" rel="portfolio-23"></a>

                                    </div>
                                   
                                </div>
                            </div>
                        </figure>

                    </article>
                </div>

                <div class="col-sm-6 isotopeSelector websites">
                    <article class="">
                        <figure>
                            <img src="image_gallery/images/37.jpg" alt="">
                            <div class="overlay-background">
                                <div class="inner"></div>
                            </div>
                            <div class="overlay">
                                <div class="inner-overlay">
                                    <div class="inner-overlay-content with-icons">
                                        <a title="First Image" class="fancybox-pop" rel="portfolio-24" href="image_gallery/images/36.jpg"><i class="fa fa-plus-circle"></i></a>
                                        <a title="Second Image" class="fancybox-pop" style="display: none" href="image_gallery/images/37.jpg" rel="portfolio-24"></a>
                                        <a title="Third Image" class="fancybox-pop" style="display: none" href="image_gallery/images/38.jpg" rel="portfolio-24"></a>

                                    </div>
                                 
                                </div>
                            </div>
                        </figure>

                    </article>
                </div>

                <div class="col-sm-6 isotopeSelector photography">
                    <article class="">
                        <figure>
                            <img src="image_gallery/images/36.jpg" alt="">
                            <div class="overlay-background">
                                <div class="inner"></div>
                            </div>
                            <div class="overlay">
                                <div class="inner-overlay">
                                    <div class="inner-overlay-content with-icons">
                                        <a title="First Image" class="fancybox-pop" rel="portfolio-25" href="image_gallery/images/35.jpg"><i class="fa fa-plus-circle"></i></a>
                                        <a title="Second Image" class="fancybox-pop" style="display: none" href="image_gallery/images/31.jpg" rel="portfolio-25"></a>
                                        <a title="Third Image" class="fancybox-pop" style="display: none" href="image_gallery/images/38.jpg" rel="portfolio-25"></a>

                                    </div>
                                 
                                </div>
                            </div>
                        </figure>

                    </article>
                </div>

                <div class="col-sm-6 isotopeSelector photography">
                    <article class="">
                        <figure>
                            <img src="image_gallery/images/32.jpg" alt="">
                            <div class="overlay-background">
                                <div class="inner"></div>
                            </div>
                            <div class="overlay">
                                <div class="inner-overlay">
                                    <div class="inner-overlay-content with-icons">
            <a title="First Image" class="fancybox-pop" rel="portfolio-26" href="image_gallery/images/37.jpg"><i class="fa fa-plus-circle"></i></a>
            <a title="Second Image" class="fancybox-pop" style="display: none" href="image_gallery/images/30.jpg" rel="portfolio-26"></a>
            <a title="Third Image" class="fancybox-pop" style="display: none" href="image_gallery/images/35.jpg" rel="portfolio-26"></a>

        </div>
                                   
                                </div>
                            </div>
                        </figure>

                    </article>
                </div>

                <div class="col-sm-6 isotopeSelector art">
                    <article class="">
                        <figure>
                            <img src="image_gallery/images/33.jpg" alt="">
                            <div class="overlay-background">
                                <div class="inner"></div>
                            </div>
                            <div class="overlay">
                                <div class="inner-overlay">
                                    <div class="inner-overlay-content with-icons">
            <a title="First Image" class="fancybox-pop" rel="portfolio-27" href="image_gallery/images/34.jpg"><i class="fa fa-plus-circle"></i></a>
            <a title="Second Image" class="fancybox-pop" style="display: none" href="image_gallery/images/39.jpg" rel="portfolio-27"></a>
            <a title="Third Image" class="fancybox-pop" style="display: none" href="image_gallery/images/30.jpg" rel="portfolio-27"></a>

        </div>
                                  
                                </div>
                            </div>
                        </figure>
                    </article>
                </div>




            </div>
        </div>
    </section>