<section class="col-md-9 col-sm-12 col-xs-12 col-md-offset-3 rzm_Testimonial" id="testimonial">
                 <h1 class="title">درباره برخی از افرداد موفق</h1>
                 <div class="rzm_testimonial_content">
                     <div id="carousel" class="carousel slide" data-ride="carousel">

<ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
</ol>

<div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <div class="col-md-2 col-sm-2 col-xs-12"> <img class="media-object img-rounded img-responsive img-circle" src="img/testimonial_01.jpg" alt=""> </div>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div class="caption">
                                        <p align="center">
                                            فیودور میخائلوویچ دوستایِوسکی، نویسندهٔ مشهور و تأثیرگذار اهل روسیه بود. ویژگی منحصر به فرد آثار وی روانکاوی و بررسی زوایای روانی شخصیت‌های داستان است. بسیاری او را بزرگترین نویسنده روان شناختی جهان به حساب می‌آورند. رمان یادداشت‌های زیرزمینی او اولین نوشته ادبی اگزیستانسیالیسم جهان است</p>
                                            <blockquote class="adjust2">
<p>داستایوفسکی
                                            <small>نویسنده </small>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <div class="col-md-2 col-sm-2 col-xs-12"> <img class="media-object img-rounded img-responsive img-circle" src="img/testimonial_03.jpg" alt=""> </div>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div class="caption">
                                        <p align="center">
                                            مجید سمیعی پزشک و جراح مغز و اعصاب ایرانی است. او در حال حاضر ریاست بیمارستان خصوصی علوم عصبی هانوفر در آلمان را بر عهده دارد که خود بنیان‌گذار آن بوده‌است</p>
                                            <blockquote class="adjust2">
<p>دکتر سمیعی</p>
                                            <small>دانشمند></small>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <div class="col-md-2 col-sm-2 col-xs-12"> <img class="media-object img-rounded img-responsive img-circle" src="img/testimonial_02.jpg" alt=""> </div>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div class="caption">
                           <p align="center">      سر اندرو جان وایلز است. او ریاضی‌دان انگلیسی و استاد محقق انجمن سلطنتی دردانشگاه آکسفورد است. زمینه تحقیق تخصصی وی تئوری اعداد است. وی دارای لقب سلطنتی سر است. علت عمده شهرت وی اثبات قضیه آخر فرما است که به خاطر آن برندهٔ جایزه آبل سال ۲۰۱۶ شد. ویلز افتخارات زیاد دیگری نیز کسب کرده‌است</p>
                                        <blockquote class="adjust2">
                                            <p>اندرو وایلز</p>
                                            <small>ریاضدان</small>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>

</section>
