
<div class="col-md-3 col-sm-12 rzm_profile_nav">
    <div class="sticky">
        <div class="logo">
            <img src="img\profile_photo1.jpg" alt="profile_photo" class="img-responsive img-circle">
        </div>
        <div class="rzm_main_menu hidden-sm hidden-xs">

            <div class="rzm_main_menu hidden-sm hidden-xs">
            <ul class="primary">

                    <li class="first"><a href="#home">درباره ما </a></li>
                    <li><a href="#portfolio">کتاب های ما</a></li>
                    <li><a href="#experience">تاریخچه ما</a></li>
                    @*<li><a href="#client">Clients</a></li>*@
                    <li><a href="#testimonial">افراد موفق</a></li>
                    <li><a class="contact-form" href="#contact">نظرات شما</a></li>
                    <li><a href="#home" class="go_to_top">Top <i class="fa fa-arrow-up" aria-hidden="true"></i></a></li>
                </ul>

        </div>
            <div class="social_nav">
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-behance" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<section class="col-md-9 col-sm-12 col-xs-12 col-md-offset-3 first profile rez_about">
    <div class="rez_top_title">
        <h1 align="center">ما فقط کتاب میفروشیم</h1>
        <p align="center">به فروشگاه نريال خوش امدید</p>
        <p style="font-size:16px;" align="right">   .خواندن به شما شعف، آگاهی، شوق و توانایی می‌بخشد؛ عاقل آن را تمنا می‌کند، تهی‌مابه از آن می‌گذرد و نادان آن را نادیده می‌گیرد  </p>
        <p style="font-size:16px;" align="right">. کتاب ها ذهن شما را هوشیار می‌کنند. آن‌ها آرامش، حقیقت، تعادل،آزادی، اعتماد به نفس و شوری بیکران به زندگی شما می‌بخشند</p>
        <p style="font-size:18px;" align="right">داستایوفسکی</p>

    </div>
    @await Component.InvokeAsync("Charts")

<div class="clear">
    </div>

</section>
