
<div class="rzm_mobile_header col-sm-12 col-xs-12 hidden-lg hidden-md">
        <div class="mob_nav  navbar navbar-inverse navbar-fixed-top" id="slide-nav">
            <div class="navbar-header">
                <a class="navbar-toggle"></a>
            </div>
            <div id="slidemenu" class="navbar-default navbar-inverse">
                <ul class="nav navbar-nav primary">

                    <li><a href="@Url.Action("About","Shared")"> درباره ما</a></li>
                    <li><a href="">کتاب ها ما</a></li>
                    <li><a href="@Url.Action("Experience","Home")">تاریخچه ما</a></li>
                    <li><a href="#client">Clients</a></li>
                    <li><a href="#@Url.Action("Testimonial","Home")">افراد موفق</a></li>
                    <li><a class="contact-form" href="@Url.Action("Contact","Home")">نظرات شما</a></li>

                </ul>
            </div>
        </div>
    </div>
<div class="rzm_outside-header" id="home">
</div>

 